<app-header></app-header>
<div class="wrapper">
    <h1>Corrective Permanent Makeup</h1>
    <div class="container">
            Alopecia and other Corrective Services
            Autoimmune disorders, such as Alopecia, and other metabolic disorders can cause hair loss. Alopecia affects 50% of males, also known as a receding hairline/brow. This condition may be worsened due to stress and lack of sleep; it is also a common side-effect of face lifts. 
            
            Permanent makeup can restore the look of realistic looking eyebrows,  while eyeliner tattooing can will fix the “naked” appearance from losing eyelashes. With permanent makeup I can straighten and fill in thinning hair regions along the hairline, sideburns, eyebrows, in small balding spots, resulting a natural and clean look.
            
            Lip Augmentation (non-surgical)
            This permanent makeup procedure is used to visually create fuller, healthier lips without any surgical procedure. Whether you are looking to balance out the shape of your lips, even-out a cleft lip, conceal burns or scars, or you simply want rich, sexy looking lips, this procedure is for you.
            
            See us for a private, personalized consultation to discuss your options for corrective and restorative cosmetic tattooing. 
            Add call or email button.
            
    </div>
</div>
<app-footer></app-footer>