<app-header></app-header>
<div class="wrapper">
    <div class="container">
        <ul class="row" id="grid-container">
            <div class="col-md-4" *ngFor="let img of appState.portfolioImg; let i = index;">
                <a  data-fancybox="gallery" rel="group" [href]=" url + 'imgs/' + img.url "
                    data-width="800" data-height="600">
                    <li rel="group" [style.backgroundImage]="'url('+ url + 'imgs/' + img.url +')'">
                        <!-- <img [src]=" url+ 'imgs/' + img.url "> -->
                    </li>
                </a>
                <button (click)="delete(img.url)" *ngIf="appState.header.user.role == 'admin' "
                    class="edit-admin delete">delete</button>
                <button (click)="moveRight(i);" *ngIf="appState.header.user.role == 'admin' "
                    class="edit-admin right">move right</button>
                <button (click)="moveLeft(i);" *ngIf="appState.header.user.role == 'admin' "
                    class="edit-admin left">move left</button>
            </div>

        </ul>
    </div>
    <div class="row">
        <div class="choose-img col-md-4" *ngFor="let preview of appState.previews; let i = index;">
            <div class="input-pic upload-img">
                <input id="upload" type="file" (change)="onChange($event)" class="form-control" multiple="multiple">
                <img [src]="preview.reader.result" alt="Image preview..." class="img-fluid mh-100 mw-100 img">
                <!-- PROGRESS BAR -->
                <div class="progress" *ngIf="progressBarPercent !== 0;">
                    <div class="progress-bar" [style.background]=" (progressBarPercent == 100) ? 'green':'blue' "
                        role="progressbar" [style.width]="progressBarPercent + '%'" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100">
                        {{ progressBarPercent }} %</div>
                </div>
                <i (click)='appState.previews.splice(i,1)' class="fa fa-window-close close-window"
                    aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>