<app-header></app-header>
<div class="wrapper">
    <h1>Lips</h1>
    <div class="container">
            Permanent makeup for Lips

            Lip Liner and Color
            This Intradermal Pigmentation procedure for lip color is beautiful. It can appear to change the size and shape of the lips as well as the color. This procedure helps prevent lipstick from bleeding into the surrounding skin. Many people request a soft pink, similar to the lip color to that of an infant, for those who want a natural look. Others may desire a dramatic effect.
            
            Lip Augmentation (non-surgical)
            This permanent makeup procedure is used to visually create fuller, healthier lips without any surgical procedure. Successful in balancing out the shape of lips, evening out a cleft lip or providing rich, sexy looking lips.
            
            Add call or email button.
            
            ADD PORTFOLIO PHOTOS FOR LIPS
            
    </div>
</div>
<app-footer></app-footer>