<div class="wrapper">
    <div class="home-carousel">
        <app-carousel></app-carousel>
    </div>
    <div class="container">
        <div class="google-review-wrapper">
            <div class="reviews-container">
                <div id="google-reviews">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam debitis, repudiandae non sapiente quasi eos commodi omnis, nemo eaque illum magni! Corrupti, totam aliquam dolorum in accusamus repudiandae illo et.
                </div>
            </div>
        </div>
    </div>
</div>