<div class="wrapper">
    <div class="home-carousel">
        <app-carousel></app-carousel>
    </div>
    <div class="container">
        <div class="main-info">
            <h1>WHAT IS PERMANENT MAKEUP?</h1>
            <p class="text">
                    Permanent makeup, also known as Intradermal Pigmentation,
                    is a revolutionary method of applying natural pigments into the dermal layer of skin.
                    This state-of-the-art technique is medically proven and specifically designed to be completely safe.
                    Permanent makeup is used for a variety of cosmetic enhancements such as permanent eyebrows,
                    eye liner, and lip liner/color. Other permanent makeup procedures include vitiligo,
                    scar camouflage, areola restoration, hairline enhancement, and more.
                    Permanent makeup has also been used to cover-up stretchmarks, birthmarks,
                    freckles/age spots, and uneven skin discolorations.
            </p>
        </div>
        <div class="google-review-wrapper">
            <h2>Reviews</h2>
            <div class="reviews-container">
                <div id="google-reviews">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam debitis, repudiandae non sapiente quasi eos commodi omnis, nemo eaque illum magni! Corrupti, totam aliquam dolorum in accusamus repudiandae illo et.
                </div>
            </div>
        </div>
    </div>
</div>