<div class="wrapper">
    <div class="home-carousel">
        <app-carousel></app-carousel>
    </div>
    <div class="container">
        <div class="main-info">
            <h1>WHAT IS PERMANENT MAKEUP?</h1>
            <p class="text">
                &nbsp;&nbsp;Permanent makeup, also known as Intradermal Pigmentation,
                is a revolutionary method of applying natural pigments into the dermal layer of skin.
                This state-of-the-art technique is medically proven and specifically designed to be completely safe.
                Permanent makeup is used for a variety of cosmetic enhancements such as permanent eyebrows,
                eye liner, and lip liner/color. Other permanent makeup procedures include vitiligo,
                scar camouflage, areola restoration, hairline enhancement, and more.
                Permanent makeup has also been used to cover-up stretchmarks, birthmarks,
                freckles/age spots, and uneven skin discolorations 
                <span class="readMore" (click)="switchTextFlag()">
                    <span *ngIf="!paragraphFlag">... Read More</span>
                    <span *ngIf="paragraphFlag">... Read Less</span>
                </span> <br>
                <span *ngIf="paragraphFlag">
                    &nbsp;&nbsp;Permanent makeup is chosen for its natural elegance and effortless beauty by women all
                    over the world.
                    This micropigmentation techniques assures a time saving solution for many people. They supply an
                    ease of
                    application for those who do not like to apply makeup and relief to allergy sufferers, contact
                    wearers,
                    women who exercise, or anyone suffering from Alopecia or any type of hair loss. Permanent makeup has
                    many other benefits. It is often used in conjunction with reconstructive surgery to visually enhance
                    the
                    results. Through the use of permanent cosmetics, post mastectomy breasts can be made to look
                    completely
                    natural again with areola recreation. Unsightly scars can be removed or hidden. Special techniques
                    can
                    be used to simulate hair extending in receding hair lines and masking bald spots.
                    <br>
                    &nbsp;&nbsp;It depends on you, if Semi permanent makeup sounds better than permanent, but it is the
                    same procedure.
                    It is important when you look for a permanent makeup artist, that you trust their artistic ability,
                    as
                    well as physical. According to Dendy Engelman, a dermatologist at Manhattan Dermatology & Cosmetic
                    Surgery in New York City, a permanent makeup artist needs to have "the hands of a surgeon and the
                    eyes
                    of an artist," I have the artistic nature, as well as the steady hand with this delicate procedure–
                    but
                    as any professional, I aim to keep my skills sharp by practicing everyday. Whether on practice
                    flesh, or
                    on fruits and vegetables, and myself, I have tattooed over a million eye brows. When I was young, I
                    loved drawing designs on my nails.
                    <br>
                    &nbsp;&nbsp;My goal with every client is to figure out the best design and placement, and with
                    client approval, I
                    make the experience pleasant and safe - leading to amazing results.

                    I believe It is also extremely important to have open communication about expectations, preferences
                    and
                    the natural shape of your face. Open communication must exist throughout the whole process,
                    (including
                    when you are happy and satisfied and forget to send me a photo.)
                    <br>
                    &nbsp;&nbsp;The decision to have permanent makeup may be a difficult one when thinking about the
                    risks, the pain
                    associated as well as the cost. Also, equally as important is the always changing beauty trends.
                    Today
                    full and rich eyebrows are the trend, but 20 years ago thin eyebrows were in. In many cases, we
                    plucked
                    and waxed our brows so much, that today we need have to draw them in.

                    This is why I focus on your hair color and natural shape of your face, taking aging effects and any
                    imperfections into consideration when creating the drawn example.

                    Often, trends come and go, but a natural look is forever. In many cases, if you need to be dolled up
                    for
                    a special event, or need a change, regular make up can be applied. It is also important to know that
                    your satisfaction is important, and the job is not complete until you feel beautiful and happy.
                    <br>
                    &nbsp;&nbsp;I am confident in my ability to make you feel naturally beautiful without any daily
                    enhancements. You
                    will wake up beautiful, and you will shine all day.
                </span>


            </p>
        </div>
        <div class="google-review-wrapper">
            <h2>Reviews</h2>
            <div class="reviews-container">
                <div id="google-reviews">
                    <ul class="customer-reviews">
                        <li *ngFor="let review of appState.reviewMsg">
                            <div class="customer-name">
                                {{ review.nameReview }}
                            </div>
                            <div class="reviews-star-window" [style.width.px]=" review.stars * 18.4 ">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                {{ review.stars }} <i>from 5</i>
                            </div>
                            <div class="customer-msg">
                                {{ review.messageReview }}
                            </div>
                            <div class="date">
                                {{ review.created | date }}
                            </div>

                            <!-- {{ review._id }} -->
                        </li>
                    </ul>
                    <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam debitis, repudiandae non sapiente
                    quasi eos commodi omnis, nemo eaque illum magni! Corrupti, totam aliquam dolorum in accusamus
                    repudiandae illo et. -->
                </div>

            </div>
            <div class="write-reviews">
                <!-- <ul>
                    <li *ngFor="let review of reviewMsg">
                        <div class="customer-name">
                           {{ review.nameReview }} 
                        </div>
                        <div class="customer-msg">
                            {{ review.messageReview }}
                        </div>
                        <div class="date">
                            {{ review.created | date }}
                        </div>
                 {{ review._id }} -->
                <!-- </li> -->
                <!-- </ul> -->
                <!-- {{ reviewMsg | json }}                                                                                                                                                                                                                                                                                -->
                <div class="custom-reviews">
                    <h2 (click)="openReview()">
                        Write a Review &nbsp;
                        <i class="fa fa-plus" *ngIf="!review"></i>
                        <i class="fa fa-minus" *ngIf="review"></i>
                    </h2>
                </div>
                <form (ngSubmit)="sendReview()" [formGroup]="reviewForm" id="reviewForm" name="reviewForm"
                    *ngIf="review">
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input formControlName="nameReview" type="text" id="name" name="name"
                                    class="form-control">
                                <label for="nameReview" class="">Your name</label>
                                <app-form-validator [it]="name"></app-form-validator>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input formControlName="emailReview" type="text" id="email" name="email"
                                    class="form-control">
                                <label for="Review" class="">Your email</label>
                                <app-form-validator [it]="email"></app-form-validator>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="star-review">
                                <!-- Layer -->
                                <div class="black-stars" style="width:75px;display:flex;">
                                    <span *ngFor="let star of [1,2,3,4,5]" class="fa fa-star"
                                        (click)="checkedStar(star);"></span>
                                </div>
                                <div class="yellow-stars">
                                    <app-star-rating [starWidth]="starWidth" (ratingClicked)='onRatingClicked($event)'>
                                    </app-star-rating>
                                </div>
                                <!-- <app-star-rating [rating]="starRating" (ratingClicked)="onRatingClicked($event)"></app-star-rating> -->
                            </div>
                            Rate your master
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <textarea formControlName="messageReview" type="text" id="message" name="message"
                                    rows="2" class="form-control md-textarea"></textarea>
                                <label for="messageReview">Your message</label>
                                <app-form-validator [it]="message"></app-form-validator>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-secondary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
