<app-header></app-header>
<div class="wrapper">
    <h1>Eyebrow and Liner</h1>
    <div class="container">
        <p class="personal-info">
            Permanent makeup for Eyebrows and Hairline Strokes
            The Intradermal Pigmentation procedure for eyebrows can mimic the appearance of hair in the brow line.
            Anyone who desires more fullness of the brows will love the procedure (and the time saved not applying
            makeup!) Those who normally apply pencil to color in the eyebrows can freely go swimming, play tennis, or
            wipe their forehead without the embarrassment of losing their eyebrows. Anyone suffering from alopecia are
            pleasantly surprised by the natural look and convenience.

            This procedure can be partial or full brow depending on the current condition and your expectations.


            Permanent Eyelash Enhancement/Lash Lift
            We all want the look of thicker and fuller eyelashes. The permanent lash effect procedure places permanent
            cosmetic pigment between each lash, achieving a natural yet luxuriously full lash base. This ‘curling’ of
            the eyelashes is achieved using two treatments, one for lift, the other for color to attain a natural
            looking curl and lift of the lashes. Lash lifting gives a marvelous result and a wow factor on par with
            extensions, but with greater longevity and much lower maintenance and expense. The lash lift and tint are
            the perfect combination for any woman wishing to replace the daily use of a handheld eyelash curler and
            mascara, with the stunning results lasting for 8-10 weeks.


            Permanent Makeup Eyeliner
            More defined eyes can be achieved with a Permanent Eyeliner. It produces a subtle natural look, mimicking
            tiny lashes with the implantation of pigments in the lash line. Proper placement of a decorative eyeliner
            can create the illusion of an eye-lift, and make the eyes appear larger, brighter and more beautiful.
            Additional shadowing of color can be added for a soft natural look, or a more definite line can be achieved.
            Ophthalmologists recommend Intradermal cosmetic procedures for those who are allergic to conventional makeip
            and for those wearing contact lenses.

            Mucosal Permanent Eyeliner
            Mucosal coloring is the art of adding color to the inner mucosal tissue just below the eye, a procedure that
            complements your eye’s natural sparkle. The coloring of the mucosal tissue adds depth and vibrance.

            Add call or email button.

            ADD PORTFOLIO PHOTOS for EYES
        </p>



    </div>
</div>
<app-footer></app-footer>