<app-header></app-header>
<div class="wrapper">
    <h1>About Me</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p class="personal-info">
                    Nataliya is a perfectionist by nature. She is persistent and hard working. She offers each client a
                    high level of professional skill perfected by her artistic and visual instinct. She pays particular
                    attention to each client’s unique features and specific needs based on her experience as well as her
                    natural aesthetic ability. Nataliya follows strict standards of safety in her work and the usage of
                    specialized equipment, the disposal of probes, and the handling of pigmentation. She implements the
                    same medical sterilization standards and procedures as physicians.
                    <br>
                    Languages spoken: <strong>english, polish, ukrainian, russian</strong>.
                    <br><br>
                    Her education includes:
                    <br>
                    * NJ Board Certified Permanent Makeup Artist
                    <br>
                    * Graduated member of American Academy of Micropigmentation
                    <br>
                    * Osha Certified
                    <br>
                    * Daam Pigmintation Diploma
                    <br>
                    * Phi Removal Certificate
                </p>
            </div>
            <div class="col-md-5">
                <div class="photo-personal">
                    <img src="../../../assets/imgs/Natalya.jpg" alt="Natalya">
                    <img class="logoTeach" src="../../../assets/imgs/AAM-Logo-HP.png">
                </div>
                <h3>Nataliya Hocko</h3>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row_certificate">
                <!-- <ul class="slider_sertificate" #slider_sertificate>
                    <i (click)="move($event)" class="fa fa-arrow-circle-left left"></i>
                    <li [style.margin-left.px]="(i == currentSlide) ? slide : nextSlide" class="slides col-md-4"
                        (mouseover)="mouseover()" (mouseleave)="mouseleave()"
                        *ngFor="let certificate of certificates;let i = index;">
                        <img [src]="certificate.url" alt="certificate">
                    </li>
                    <i (click)="move($event)" class="fa fa-arrow-circle-right right"></i>
                </ul> -->
            </div>
            <!-- MAIN NEW  -->
            <!-- <div id="slick_slider" *ngIf="certificates$ | async as certificates">
                <div *ngFor="let certificate of certificates.data; let i = index;">
                    <img [src]="certificate.url" alt="certificate" class="imgCertificate">
                </div>
            </div> -->
            <div id="slick_slider">
                <div *ngFor="let certificate of certificates; let i = index;">
                    <img [src]="certificate.url" alt="certificate" class="imgCertificate">
                </div>
            </div>
        </div>
        <!-- add certificate -->
        <div *ngIf="appState.header.user.role == 'admin' ">
            <button class="portfolio-btn myWidth" data-toggle="modal" data-target=".bd-example-modal-lg">Add New
                Certificate</button>
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="fasle" id="myModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form [formGroup]="serviceForm" (ngSubmit)="add()">
                            <input class="form-control" formControlName="serviceName" type="text"
                                placeholder="PLease type name of the service">
                            <textarea class="form-control" formControlName="serviceInfo"
                                placeholder="PLease type info about your service"></textarea>
                            <div class="filePicker">
                                <input type="file" #filePicker (change)="onImagePickedAddService($event)">
                                <div class="image-preview"
                                    *ngIf="imagePreview !== '' && imagePreview && serviceForm.get('image').valid">
                                    <img [src]="imagePreview">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary" type="submit"
                                    [disabled]="!serviceForm.valid">
                                    Save changes
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>